body{
    margin: 0;
    padding: 0; /* Tar bort den vita kanten */
}
nav {
    background-color: #333; /* Gör baren svart */
    padding: 12px;          /*Layout på texten och "tjockleken" på baren*/
    display:flex;
    justify-content: space-around;
}
nav a {
    color: #fff;            /*Vit text istället för blå, tarbort _ */
    text-decoration: none;
    font-weight: bold;
}
h2 {
    text-align: center;     /* Centerar titlen stylar den och sätter avståndet från navbaren.*/
    margin-top: 20px;
    font-style: italic;
}
p {
    text-align:center;
}